<!DOCTYPE html>
<html>
<head></head>
 <body> 
        <H1>Hello World</H1>
        <% products.map((product)=>{ %>
          <h4>
            <%=product.Title %>
          </h4>
          <p><%=product.Description %></p>
          <p>ราคา : <%=product.Price %> บาท</p>
        <%})%>
  </body>     
</html>    